<!-- Features Start -->
<div class="max-w-[85rem] px-4 py-10 sm:px-3 lg:px-4 lg:py-5 mx-auto">
  <!-- Grid -->
  <div
    class="md:grid md:grid-cols-2 md:items-center md:gap-8 xl:gap-16 bg-gray-300"
  >
    <div>
      <!-- <img class="rounded-xl max-h-full" src="https://i.pinimg.com/originals/80/7a/da/807adaca319a44d5be71a0063e4bc9aa.jpg" alt="Features Image"> -->

      <img
        class="w-full rounded-xl max-h-screen"
        src="https://i.pinimg.com/564x/00/cd/8e/00cd8eabf948d596af53e10361a99928.jpg"
        alt="Features Image"
      />
    </div>
    <!-- End Col -->

    <div class="mt-5 sm:mt-10 lg:mt-0">
      <div class="space-y-6 sm:space-y-8">
        <!-- Title -->
        <div class="space-y-2 md:space-y-4">
          <h2 class="font-bold text-3xl lg:text-4xl text-gray-800">
            Transforming the way you feel and the energy you emit.
          </h2>
          <p class="text-slate-500">
            ZoneFlex Gym in India is a well-equipped gym offering a variety of
            workout options to cater to different fitness needs and focuses on
            showcasing the different membership and class options available,
            accepting online bookings through the site.
          </p>
        </div>
        <!-- End Title -->

        <!-- List -->
        <ul class="space-y-2 sm:space-y-4">
          <li class="flex gap-x-3">
            <span
              class="mt-0.5 size-5 flex justify-center items-center rounded-full bg-blue-50 text-blue-600"
            >
              <svg
                class="shrink-0 size-3.5"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <polyline points="20 6 9 17 4 12" />
              </svg>
            </span>
            <div class="grow">
              <span class="text-sm sm:text-base text-green-600">
                <span class="font-bold">Get Personalized</span> Training
              </span>
            </div>
          </li>

          <li class="flex gap-x-3">
            <span
              class="mt-0.5 size-5 flex justify-center items-center rounded-full bg-blue-50 text-blue-600"
            >
              <svg
                class="shrink-0 size-3.5"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <polyline points="20 6 9 17 4 12" />
              </svg>
            </span>
            <div class="grow">
              <span class="text-sm sm:text-base text-sky-600">
                Find out the Best <span class="font-bold">Workout routine</span>
              </span>
            </div>
          </li>

          <li class="flex gap-x-3">
            <span
              class="mt-0.5 size-5 flex justify-center items-center rounded-full bg-blue-50 text-blue-600"
            >
              <svg
                class="shrink-0 size-3.5"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <polyline points="20 6 9 17 4 12" />
              </svg>
            </span>
            <div class="grow">
              <span class="text-sm sm:text-base text-red-500">
                Build the body aspire to have
              </span>
            </div>
          </li>
        </ul>
        <!-- End List -->
      </div>
    </div>
    <!-- End Col -->
  </div>
  <!-- End Grid -->
</div>
<!--  Features Done -->
