<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>
<body>
    
    <!-- Navbar Start -->
    <nav class=" flex justify-between items-center py-4 bg-stone-900 ">

        <div class=" ml-6">
            <img class="" src="" alt="">
        </div>
        <div class="font-semibold  text-lg text-white  lg:flex justify-between items-center">
            <a class="px-4 hover:border-b-2  border-blue-400" href="">Home</a>
            <a class="px-4 hover:border-b-2  border-blue-400" href="">Services</a>
            <a class="px-4 hover:border-b-2  border-blue-400" href="">About</a>
            <a class="px-4 hover:border-b-2  border-blue-400" href="">Schedule</a>
            <a class="px-4 hover:border-b-2  border-blue-400 " href="">Programs</a>
            <a class="px-4 hover:border-b-2  border-blue-400 " href="">Contact</a>
        </div>
        <div class=" flex  justify-center items-center ">
            <div class="hidden lg:flex justify-center items-center mr-5">
                <input class="max-w-md p-1 pl-2 mr-0 border-2 border-blue-600 rounded-s-lg " type="text"
                    placeholder=" Search ">
                <button class="border-2 p-1  rounded-e-lg border-blue-600 bg-orange-400">
                    <i class="fa-solid fa-magnifying-glass ">
                    </i>
                </button>
            </div>
            <div class="lg:hidden mr-10">
                <i class="fa-solid fa-magnifying-glass ">
                </i>
            </div>
            <div class="lg:hidden mr-10">
                <i class="fa-solid fa-bars"></i>
            </div>
    </nav>

    <!-- Nav Done -->
</body>
</html>